page-login {
  .scroll-content {
    margin-top: 0 !important;
  }
  .logo {
    width: 35%;
    height: auto;
    padding-top: 1vh;
    margin-bottom: 1vh;
  }
  span {
    color: white;
  }
  .slide-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  .slide-zoom {
    background: rgba(32, 32, 32, 0.2) !important;
    height: 100%;
  }
  ion-slides {
    height: 100vh;
  }
  ion-item {
    color: white !important;
    padding-left: 10px !important;
    margin-bottom: 10px;
    background-color: transparent !important;
    font-size: 0.9em;
  }
   ::-webkit-input-placeholder {
    color: white !important;
  }
  ion-label {
  	color: white !important;
  }

  .login-container {
    color: white;
    position: absolute;
    top: 0;
    padding: 10vw;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
  }
  ion-button {
    opacity: 0.8;
  }
}
