<ion-header no-border>
  <ion-navbar transparent>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-slides pager="false" autoplay="2000" loop="true" speed="1500" effect="fade">
    <ion-slide class="slide-background swiper-no-swiping" *ngFor="let background of backgrounds" [ngStyle]="{'background-image': 'url(' + background +')'}">
    </ion-slide>
  </ion-slides>
  <div class="login-container">
    <img class="logo" src="assets/img/logo/PDS.png" />
    <h1>MinorShop </h1>
    <form (submit)="doLogin()">
      <ion-item>
      	<ion-label floating>Email </ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
      	<ion-label floating>Password </ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <button ion-button margin color="danger">LOGIN</button>
      <p (click)="openResetPassword()"><strong>Forgot your password?</strong></p>
    </form>
  </div>
</ion-content>
